@model SearchResultVm

<div class="d-block">
    @if (Model != null)
    {
        <h3 class="display-4">@Model.EngineTypeName</h3>
        @foreach (var item in Model.SearchResultItems)
        {
            <div class="card card-solid">
                <div class="card-body text-left">
                    <h5 class="card-title">
                        <span class="font-weight-bold">@item.Title</span>
                    </h5>
                    <a href="@item.Url" class="card-link">@item.Url</a>
                    <p class="card-text">@item.Content</p>
                </div>
            </div>
            <p/>
        }
    }
</div>