@model SearchResultVm

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="loading-div-background" class="h-100 overlay">
        <div class="h-100 align-items-center centring">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
        </div>
    </div>
    <h1 class="display-4 display-2">Questor Project</h1>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new {id = "search-form"}))
    {
        <div class="d-inline-block float-left">
            @if (Model != null)
            {
                @for (var i = 0; i < Model.SelectedEngines.Count; i++)
                {
                    <div class="d-inline-block mr-1">
                        @Html.HiddenFor(model => model.SelectedEngines[i].Id)
                        @Html.HiddenFor(model => model.SelectedEngines[i].Name)
                        @Html.CheckBoxFor(model => model.SelectedEngines[i].Checked)
                        @Html.LabelFor(model => model.SelectedEngines[i].Checked, Model.SelectedEngines[i].Name)
                    </div>
                }
            }
        </div>
        <div class="row" style="min-width: 77em">
            <div class="input-group">
                <input class="form-control input-lg border-right-0 border" placeholder="Search..." id="search-input" name="question" value="@Model?.Question">
                <span class="input-group-append">
                    <button class="btn-primary btn btn-outline-secondary border-left-0 border" type="submit" id="search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <p/>
    }

    <div class="d-block">
        @if (Model != null)
        {
            <h3 class="display-4">@Model.EngineTypeName</h3>
            @foreach (var item in Model.SearchResultItems)
            {
                <div class="card card-solid">
                    <div class="card-body text-left">
                        <h5 class="card-title">
                            <span class="font-weight-bold">@item.Title</span>
                        </h5>
                        <a href="@item.Url" class="card-link">@item.Url</a>
                        <p class="card-text">@item.Content</p>
                    </div>
                </div>
                <p/>
            }
        }
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
$(document).ready(function(){
    $('#loading-div-background').hide();
    
    $('#search-input').keyup(function(){
        $('#search-button').prop('disabled', this.value === "");     
    });
    
    // $('#search-form').submit(function(e) {
    //     e.preventDefault();
    // })
});     

 // $('#search-button').click(function () {
 //                $('#loading-div-background').show();
 //                $.ajax({
 //                    type: 'POST',
 //                    url: '/home/search',
 //                    data: $('#search-form').serialize(),
 //                    processData: true,
 //                }).done(function(){
 //                    $('#loading-div-background').hide();
 //                });
 //            });
</script>
}